# Prep Upper Colorado use-case.

This a subset of the NHM prepped from a Bandit pull by Parker Norton.  Using this as a
test case for forecasting.

In [1]:
import geopandas as gpd
import requests
import pandas as pd
import rioxarray

In [2]:
root_dir = '/mnt/d/oNHM/NHM_PRMS_UC_GF_1_1/'

In [18]:
root_dir

'/mnt/d/oNHM/NHM_PRMS_UC_GF_1_1/'

In [3]:
gdf = gpd.read_file(root_dir + "GIS/model_nhru.shp")
gdf

      nhm_id  model_hru_                                           geometry
0      83301         274  POLYGON ((-1324125.133 1609094.887, -1324275.0...
1      83302         275  POLYGON ((-1331914.568 1623225.112, -1331901.0...
2      83359         332  POLYGON ((-1308375.036 1622938.630, -1308465.2...
3      83364         337  POLYGON ((-1337655.210 1640205.133, -1337535.3...
4      83366         339  POLYGON ((-1339634.862 1640985.080, -1339695.0...
...      ...         ...                                                ...
3846   86611        3556  POLYGON ((-1256384.842 2032365.123, -1256295.1...
3847   86615        3560  POLYGON ((-1255034.951 2041934.777, -1255154.7...
3848   86686        3631  POLYGON ((-1244805.129 1970954.938, -1244744.9...
3849   86691        3636  POLYGON ((-1255664.885 1971375.143, -1255544.7...
3850   85616        2561  POLYGON ((-1263404.814 2001224.252, -1263361.8...

[3851 rows x 3 columns]

In [5]:
# Find invalid geometries
invalid_geometries = gdf[~gdf.is_valid]
print(f"Found {len(invalid_geometries)} invalid geometries.")

# Correct invalid geometries by explicitly targeting the original DataFrame
gdf.loc[~gdf.is_valid, 'geometry'] = gdf.loc[~gdf.is_valid, 'geometry'].apply(lambda geom: geom.buffer(0))

# Re-check for invalid geometries after the correction
invalid_geometries_after = gdf[~gdf.is_valid]
print(f"Found {len(invalid_geometries_after)} invalid geometries after correction.")

Found 177 invalid geometries.
Found 0 invalid geometries after correction.

In [7]:
gdf.crs

<Projected CRS: ESRI:102039>
Name: USA_Contiguous_Albers_Equal_Area_Conic_USGS_version
Axis Info [cartesian]:
- [east]: Easting (metre)
- [north]: Northing (metre)
Area of Use:
- undefined
Coordinate Operation:
- name: unnamed
- method: Albers Equal Area
Datum: North American Datum 1983
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [8]:
gdf = gdf.to_crs("EPSG:4326")
gdf

      nhm_id  model_hru_                                           geometry
0      83301         274  POLYGON ((-110.99899 36.58611, -111.00061 36.5...
1      83302         275  POLYGON ((-111.11099 36.69969, -111.11049 36.6...
2      83359         332  POLYGON ((-110.93996 36.75837, -110.94202 36.7...
3      83364         337  POLYGON ((-111.20558 36.84119, -111.20403 36.8...
4      83366         339  POLYGON ((-111.22911 36.84524, -111.22967 36.8...
...      ...         ...                                                ...
3846   86611        3556  POLYGON ((-110.99459 40.41116, -110.99353 40.4...
3847   86615        3560  POLYGON ((-110.99662 40.49742, -110.99808 40.4...
3848   86686        3631  POLYGON ((-110.74581 39.88584, -110.74506 39.8...
3849   86691        3636  POLYGON ((-110.87315 39.87450, -110.87142 39.8...
3850   85616        2561  POLYGON ((-111.01873 40.12680, -111.01790 40.1...

[3851 rows x 3 columns]

## Step 2: Sort the DataFrame by 'nhm_id'
Looks like data are sorted already but we'll sort anyway. CBH data supplied to this model should be sorted by nhm_id.

In [9]:
gdf_sorted = gdf.sort_values(by="nhm_id")

## Step 3: Export "nhm_id" to a file

In [10]:
gdf_sorted['nhm_id'].to_csv(root_dir + 'daily/input/nhm_id', index=False, header=False)

## Step 4: Calculate and write hru centroids.

In [11]:
centroids = gdf_sorted.to_crs(5070).geometry.centroid
centroids_ll = centroids.to_crs(4326)
lats = centroids_ll.y
lons = centroids_ll.x
lats.to_csv(root_dir + 'daily/input/hru_lat.txt', index=False, header=False)
lons.to_csv(root_dir + 'daily/input/hru_lon.txt', index=False, header=False)

In [12]:
points = list(zip(lons, lats))
points[-10:]

[(-109.62181340109326, 42.67709827954675),
 (-109.59178752024967, 42.65613676844921),
 (-109.81231608672125, 42.97729605771425),
 (-109.81068824830739, 42.98645822426993),
 (-109.69921741978114, 43.16469746353956),
 (-109.72782279994864, 43.1098871029577),
 (-109.76548123574867, 43.120069767784976),
 (-109.68778919598705, 43.1537152300935),
 (-109.80477414799824, 43.17723475172029),
 (-109.8228574876643, 43.18968847824578)]

## 5 Get elevations - used for calculating humidity from cfsv2 data.

In [13]:
import rasterio
from rasterio.transform import rowcol
import numpy as np

# List of GeoTIFF files
tiff_files = ['/mnt/d/oNHM/gt30w100n40.tif', '/mnt/d/oNHM/gt30w100n90.tif', '/mnt/d/oNHM/gt30w140n40.tif', '/mnt/d/oNHM/gt30w140n90.tif']


# Function to find elevation for a single point
def get_elevation(lon, lat, datasets):
    for dataset in datasets:
        # Check if the point is within the bounds of this dataset
        if dataset.bounds[0] <= lon <= dataset.bounds[2] and dataset.bounds[1] <= lat <= dataset.bounds[3]:
            # Convert the lon/lat to row/col in the dataset
            row, col = rowcol(dataset.transform, lon, lat)
            # Read the elevation value at this row/col
            value = dataset.read(1)[row, col]
            return value
    return np.nan  # Return NaN if the point is not in any dataset

# Open all the TIFFs
datasets = [rasterio.open(tiff) for tiff in tiff_files]

# Get elevations for all points
elevations = [get_elevation(lon, lat, datasets) for lon, lat in points]

# Don't forget to close the datasets
for dataset in datasets:
    dataset.close()

print(elevations)

[1997, 1891, 2079, 1980, 2011, 2041, 2072, 1950, 1936, 1896, 2102, 1913, 1950, 1950, 1858, 1926, 1825, 1980, 1823, 1889, 1889, 2161, 1773, 1767, 1737, 1827, 1755, 1767, 1828, 1848, 1706, 1764, 1802, 1756, 1889, 2133, 1737, 2086, 2061, 2251, 1787, 2023, 2019, 2133, 2036, 1747, 1829, 1979, 1705, 2167, 2233, 2255, 1791, 2171, 1859, 1701, 1693, 1689, 1777, 1935, 1767, 1706, 1950, 2206, 1703, 1676, 1828, 2255, 1702, 1833, 1857, 1828, 1889, 2255, 1645, 1693, 1627, 1627, 1684, 1755, 1706, 1633, 2201, 1779, 1651, 1646, 2255, 1733, 1714, 1829, 2314, 2130, 2077, 1757, 1706, 1701, 1822, 2072, 1615, 1616, 1871, 1615, 1658, 1646, 1676, 2081, 1668, 1955, 2018, 1767, 1604, 1764, 1673, 1584, 1584, 1584, 1578, 1647, 1587, 1615, 1706, 1738, 1892, 1827, 1891, 1950, 1645, 1593, 1933, 1889, 1826, 2147, 2072, 1844, 1827, 2057, 1773, 1623, 1650, 1638, 1950, 2194, 2142, 1690, 1828, 1655, 1615, 1766, 1768, 1705, 1597, 1638, 1591, 1946, 1950, 1816, 1676, 1950, 1706, 1596, 1574, 1645, 1675, 2062, 1767, 1645, 1669, 1600, 1950, 1931, 1978, 1767, 1767, 1848, 1889, 1889, 2268, 1645, 1556, 1706, 1603, 1584, 1584, 1600, 1947, 1749, 1902, 1767, 1645, 1548, 1653, 1553, 1711, 1950, 1615, 1529, 1521, 1511, 1745, 1554, 1798, 1676, 2434, 1911, 1615, 2081, 1738, 2055, 1584, 2255, 1828, 1582, 1941, 2222, 1950, 1889, 1767, 2133, 1770, 2341, 2134, 1950, 1759, 1864, 1760, 2267, 1974, 2121, 1621, 2041, 1909, 2133, 1969, 2680, 1641, 1579, 1998, 2582, 1567, 1584, 2052, 2316, 2017, 1943, 1522, 1672, 1708, 1975, 1859, 1457, 1523, 1523, 1840, 1893, 1828, 1828, 1648, 1511, 1676, 1550, 1895, 2301, 1661, 2194, 2604, 2022, 2185, 2240, 2256, 1661, 2075, 1782, 1893, 1786, 1767, 1828, 2070, 1950, 1516, 2151, 2020, 1599, 1556, 1831, 1581, 1537, 1523, 1467, 1453, 1907, 1585, 2850, 2466, 2003, 1956, 1821, 1643, 1554, 1511, 2066, 1960, 2106, 1961, 2048, 1645, 1584, 1543, 1462, 1503, 1696, 2682, 1652, 1747, 1447, 1524, 1977, 1459, 1739, 1583, 1523, 1693, 1584, 1466, 1402, 1524, 1463, 2681, 2777, 1531, 2011, 1559, 1706, 2011, 2068, 1563, 2320, 1687, 2328, 1675, 1618, 1280, 1158, 1120, 2044, 1346, 2257, 1767, 2412, 1382, 1462, 1493, 1499, 1531, 2109, 2011, 2438, 2698, 1380, 1380, 1380, 1961, 1560, 1389, 1554, 2012, 2127, 2301, 2255, 2193, 2802, 1529, 2743, 2299, 2006, 2193, 2133, 2198, 2133, 1477, 2343, 1706, 1488, 1463, 1416, 2432, 1525, 1327, 2376, 1405, 2769, 1604, 2778, 1514, 2011, 1341, 1463, 2522, 2057, 1219, 2145, 1767, 1315, 1321, 1402, 1322, 1837, 1112, 1156, 1463, 1112, 1524, 1332, 1584, 1867, 1707, 1828, 2183, 2255, 1421, 1890, 3379, 3048, 1523, 1715, 3007, 2743, 1229, 1478, 1415, 1465, 1838, 1387, 1671, 1332, 1389, 1936, 2777, 1310, 1462, 2527, 2662, 2782, 2399, 1500, 1646, 3034, 1414, 1472, 2794, 1429, 1437, 3413, 1419, 1462, 1117, 3304, 2892, 3352, 1409, 2926, 1584, 1422, 1584, 1394, 1403, 1530, 1525, 1280, 1374, 2133, 3521, 1190, 3433, 3169, 1186, 1280, 1767, 3049, 1950, 1465, 2020, 2309, 2133, 2203, 1161, 1361, 1321, 2674, 1447, 2618, 1584, 1906, 1116, 1463, 1209, 3429, 2843, 1481, 1185, 1280, 1279, 1218, 1228, 1469, 2436, 1273, 1280, 2341, 1315, 1646, 3398, 2804, 1478, 2868, 2218, 1463, 2533, 1645, 1341, 1460, 1317, 1258, 3413, 1583, 1645, 2438, 1521, 3359, 1642, 3628, 1278, 2133, 2252, 2255, 1464, 3108, 2377, 1520, 1448, 1284, 1402, 1493, 1263, 1845, 1402, 3027, 1671, 2897, 3354, 3277, 1608, 1585, 2499, 1547, 1443, 3098, 1706, 2438, 2090, 2537, 1661, 1219, 3271, 3263, 1461, 1358, 3328, 3596, 1767, 3291, 1112, 1218, 2946, 3491, 3610, 1524, 1581, 2568, 1401, 1849, 3364, 1706, 2621, 1719, 1691, 3067, 2855, 1706, 1700, 3014, 3840, 1580, 1963, 2316, 1645, 2098, 3947, 2438, 1535, 3222, 2921, 2103, 1645, 1950, 3348, 3157, 3657, 3967, 2803, 1544, 2438, 2191, 1804, 1448, 2072, 1696, 2670, 2255, 1829, 1399, 4057, 2255, 1645, 1898, 2046, 2008, 3352, 2377, 2895, 1112, 1280, 1995, 2019, 1353, 3058, 1147, 3606, 1390, 2011, 2072, 1768, 2423, 2631, 3102, 2804, 1645, 1396, 1437, 2078, 2292, 2987, 2856, 2240, 2413, 2193, 1439, 1950, 1881, 3257, 3584, 2876, 2011, 2952, 2304, 1367, 1594, 2166, 1521, 2138, 2342, 1280, 1164, 1702, 1112, 1119, 1645, 2923, 2232, 1558, 1152, 2327, 1112, 1583, 1163, 1340, 3303, 3169, 2421, 2499, 1823, 2560, 2668, 1893, 1544, 1705, 2186, 2770, 2649, 1868, 2683, 2410, 2230, 1160, 2103, 2011, 1112, 1554, 1629, 1704, 1285, 2215, 1179, 2720, 1546, 2526, 2311, 1213, 1112, 1233, 1749, 1125, 1767, 1341, 2635, 2253, 2985, 1713, 1214, 1794, 1645, 2560, 2394, 2438, 2029, 1706, 3413, 1767, 1330, 1877, 1340, 2132, 1273, 2926, 1537, 1785, 1325, 1421, 1762, 2316, 2316, 2817, 3440, 1872, 3302, 1781, 2843, 3506, 2855, 1719, 1760, 2072, 1703, 1868, 1746, 1279, 1525, 1584, 2117, 1899, 1706, 1524, 2133, 2011, 1832, 1767, 1462, 1519, 1889, 1552, 2193, 2462, 2116, 1684, 2072, 1963, 2533, 1766, 2620, 2528, 2072, 1679, 1806, 2236, 1584, 1643, 1773, 2194, 1748, 2880, 1706, 2339, 2742, 2465, 2218, 1889, 2011, 1890, 2466, 1516, 2560, 2671, 2804, 2724, 2993, 2851, 2786, 2558, 2745, 1891, 1524, 2072, 2256, 1979, 1480, 1889, 2510, 2438, 3031, 1433, 1798, 2395, 2681, 2430, 2438, 1476, 2438, 2493, 3008, 2295, 1772, 2876, 3163, 1845, 2046, 2451, 1957, 2560, 2681, 2454, 2438, 2540, 2377, 2656, 2713, 1584, 1767, 2499, 2435, 2804, 2438, 2547, 2560, 2314, 1802, 2314, 2514, 1889, 1928, 1812, 1878, 2624, 2314, 2763, 2377, 2560, 2328, 2557, 2036, 1950, 1689, 1584, 2011, 2011, 3291, 1655, 2803, 2048, 2914, 2472, 2356, 1889, 1767, 2619, 2360, 2251, 1723, 1891, 1424, 2931, 2371, 2899, 1401, 1647, 2800, 2560, 2560, 2194, 1401, 2864, 1860, 2592, 2529, 2591, 2255, 2533, 1340, 2187, 1383, 1313, 1402, 2668, 1734, 2784, 1706, 2871, 1828, 1916, 2152, 1792, 2691, 2997, 2481, 2637, 3090, 3094, 3207, 1719, 1894, 1683, 2342, 2668, 1828, 1750, 2558, 1627, 2620, 2498, 1865, 1828, 1646, 2921, 3001, 3058, 1745, 2072, 2303, 2497, 1880, 2180, 2959, 1555, 1664, 2772, 2157, 2284, 1852, 2379, 2560, 3124, 1828, 3191, 2590, 2216, 2580, 1510, 1463, 1615, 1593, 3234, 3132, 2422, 2353, 2619, 1829, 3251, 1950, 3035, 1589, 2977, 3069, 2044, 3108, 1600, 2683, 2631, 1993, 2376, 1783, 1706, 3066, 2558, 2316, 2133, 1489, 2700, 2796, 2621, 2375, 1463, 1880, 2709, 2391, 1223, 1706, 2316, 1218, 1755, 2309, 1799, 2238, 1507, 1553, 2650, 3069, 1556, 1567, 1490, 1798, 1556, 1645, 1215, 1783, 2291, 1617, 1584, 2474, 1645, 2219, 1905, 3068, 1587, 1970, 2087, 1554, 1797, 1544, 2282, 1645, 1677, 1602, 1997, 1827, 1782, 1309, 2417, 3024, 1391, 1812, 1844, 1867, 1561, 1996, 1614, 1735, 1735, 1488, 1889, 2456, 1801, 2335, 1503, 1766, 1462, 2368, 3003, 1537, 2048, 1945, 2133, 1770, 1950, 2560, 2309, 1868, 1615, 1588, 1887, 1970, 2247, 2003, 1767, 2620, 1746, 1646, 2408, 3225, 2087, 1390, 3271, 1842, 2183, 2337, 1740, 2112, 3450, 3584, 1723, 1651, 2267, 2027, 1767, 2342, 2072, 2931, 2332, 2951, 2410, 2197, 2205, 2788, 3229, 2629, 1981, 3160, 2463, 2421, 1344, 2499, 1542, 2477, 2471, 2290, 2833, 1279, 1950, 2133, 1848, 2510, 1654, 2451, 2874, 1889, 1645, 3795, 1654, 2651, 1341, 1346, 1462, 3192, 3208, 3378, 1717, 2941, 1532, 2538, 2740, 3413, 3205, 1889, 3474, 2112, 1898, 3333, 1279, 2471, 1855, 1399, 1800, 2628, 2803, 1599, 1465, 1637, 2157, 1461, 2677, 3202, 2462, 1435, 2682, 2902, 3318, 1950, 3142, 1700, 1950, 1386, 2945, 2970, 1584, 2499, 1706, 2874, 2946, 1340, 1584, 3413, 1759, 3230, 3637, 1857, 1930, 1893, 3053, 2161, 3249, 2989, 2860, 1480, 3036, 2133, 3230, 1645, 1398, 3047, 1707, 2389, 2236, 2567, 2017, 1679, 2743, 2712, 1984, 3653, 2589, 3194, 3389, 1340, 3379, 2505, 1706, 2984, 2551, 3027, 2070, 2961, 1462, 1828, 2630, 1835, 2116, 1879, 1679, 1819, 2494, 1640, 1340, 1950, 1504, 1744, 2811, 2558, 1706, 1802, 3047, 1492, 2499, 1462, 2103, 1767, 1432, 3201, 3002, 2011, 2223, 1765, 1554, 1290, 1436, 1452, 1889, 1488, 1735, 3170, 3091, 3535, 1465, 1463, 1828, 2956, 2718, 1950, 2395, 2353, 2012, 1923, 1337, 3054, 1540, 1837, 2438, 1886, 2133, 1446, 1644, 2153, 3049, 1803, 2414, 1463, 1407, 3454, 3352, 1767, 2240, 1377, 3032, 3332, 2926, 3119, 3169, 3324, 1401, 1497, 1755, 3442, 3657, 1715, 1382, 2438, 2438, 1778, 3433, 2603, 1584, 1462, 3182, 1379, 3211, 2249, 2825, 3148, 1879, 2116, 1401, 2021, 1889, 2305, 1559, 1828, 3162, 1889, 1493, 2270, 2812, 2942, 1872, 2533, 1682, 3187, 2690, 3169, 2987, 2839, 2194, 1768, 1421, 1458, 1630, 2125, 3122, 3352, 1429, 1916, 1765, 3108, 2254, 1493, 1674, 1689, 2888, 3053, 3011, 3205, 3423, 1463, 1507, 3221, 2864, 2440, 3419, 2878, 2627, 3112, 3023, 2744, 2848, 1703, 2620, 1912, 3048, 2854, 3049, 1476, 1668, 2695, 2255, 2715, 2987, 2882, 1852, 3035, 3229, 3076, 1769, 1493, 3006, 3080, 2837, 3063, 3230, 2988, 2932, 3177, 2911, 3008, 2594, 2194, 2430, 3339, 2244, 1762, 2962, 1669, 2886, 2963, 1580, 2656, 1774, 2631, 2534, 2912, 3008, 2012, 1687, 2312, 3422, 2366, 2011, 1645, 3008, 2560, 1952, 1463, 3169, 2511, 1912, 3413, 3505, 2115, 2545, 2488, 2007, 2926, 2964, 3063, 3186, 2881, 2891, 2438, 2897, 1581, 1950, 3215, 2419, 2346, 2365, 2394, 2851, 2695, 2783, 3128, 1950, 2729, 2094, 1923, 3092, 2621, 1976, 3038, 2120, 2307, 1556, 1821, 2840, 1763, 1833, 3219, 1584, 2862, 2926, 2986, 2987, 2878, 1968, 3108, 2699, 2804, 2438, 2805, 2803, 1862, 2021, 2934, 1843, 1771, 2171, 1973, 1889, 2316, 2823, 2940, 2926, 2737, 2647, 1746, 2253, 3657, 1799, 1767, 3263, 3619, 3802, 2499, 2948, 2325, 3061, 2760, 2951, 2818, 2742, 2085, 2523, 2522, 2621, 3223, 2719, 3021, 3108, 2976, 3598, 3289, 2438, 2201, 1634, 3230, 1940, 3230, 3187, 2286, 2438, 3303, 3355, 3070, 2316, 3108, 2081, 2730, 2935, 2974, 1829, 3236, 2310, 3053, 2194, 2438, 3126, 2682, 2818, 2743, 2620, 2586, 2743, 3072, 3108, 2986, 1899, 2857, 2954, 2560, 2167, 2823, 2851, 2845, 2987, 3338, 2507, 3596, 3099, 3109, 2339, 2628, 3108, 2695, 3204, 2438, 2406, 2426, 2733, 2759, 2756, 2703, 2737, 2620, 2699, 2540, 2282, 2130, 2076, 2076, 2316, 2692, 2102, 2818, 2644, 2747, 2543, 2427, 2621, 2603, 2956, 3064, 2766, 2394, 2743, 2862, 2525, 2711, 2379, 2558, 2499, 2420, 2352, 2462, 2333, 3064, 2505, 2641, 2621, 2685, 2963, 2734, 2545, 2452, 3088, 2378, 2748, 2387, 2649, 2511, 2240, 2345, 2334, 2767, 2489, 2641, 2983, 2558, 2438, 2438, 2619, 2794, 2753, 2594, 2305, 2458, 2776, 2595, 2490, 2508, 2845, 2506, 2543, 2621, 3182, 2316, 2626, 2743, 3132, 2364, 2606, 2499, 2800, 2441, 2903, 2536, 2377, 2553, 2544, 2433, 2680, 2621, 2509, 2878, 2966, 3171, 2561, 2829, 3264, 2764, 3025, 2373, 2618, 2621, 2827, 3173, 2499, 3658, 2892, 3138, 3130, 2909, 2734, 2748, 3306, 3036, 3406, 3315, 2610, 3115, 2377, 2368, 2465, 3503, 2511, 2438, 3108, 3581, 3169, 2377, 2018, 2529, 3347, 3300, 3542, 2364, 3358, 3169, 3374, 3176, 2994, 3475, 2156, 3340, 3640, 3309, 3369, 2496, 3373, 2072, 3345, 3231, 3471, 1828, 2593, 3224, 3474, 3473, 1401, 3268, 3596, 3316, 2867, 3352, 2464, 3352, 3448, 3357, 3621, 1601, 1584, 1644, 2008, 2907, 3352, 2316, 1926, 1959, 2285, 1912, 2151, 1808, 2008, 2742, 2559, 2224, 2345, 1920, 2104, 2186, 2065, 3169, 2886, 3001, 2895, 2834, 2904, 3078, 2804, 3215, 3228, 2778, 3088, 2965, 3564, 3370, 3462, 2560, 2170, 2499, 2560, 3169, 3428, 3353, 3169, 3969, 3286, 3116, 3476, 3108, 3502, 3238, 3547, 3570, 3237, 3413, 3440, 3403, 3738, 3535, 3707, 1950, 1531, 1645, 2133, 2186, 2316, 1915, 1767, 2558, 2011, 2391, 2225, 1950, 2286, 2357, 2196, 3108, 2744, 3232, 2194, 1462, 1724, 2006, 2970, 2538, 2640, 1824, 2987, 2940, 3439, 2682, 2396, 2072, 1798, 2194, 2163, 2255, 3108, 3341, 3021, 2316, 2255, 3462, 3336, 2319, 2373, 2133, 2099, 2075, 2063, 2071, 2124, 1928, 1889, 1826, 1828, 2009, 1929, 1890, 1933, 1889, 2011, 1767, 1828, 1796, 1786, 2255, 2458, 2438, 2796, 2322, 2361, 2434, 2653, 1641, 1676, 1807, 1774, 1686, 2072, 1802, 1767, 2011, 2008, 1613, 1554, 2137, 2133, 2374, 2191, 1824, 1824, 1767, 1760, 2702, 2553, 2011, 1727, 1706, 1815, 2356, 2493, 2011, 2046, 2257, 2310, 1809, 1802, 1645, 1584, 1838, 1853, 1719, 1341, 3771, 3352, 1578, 1645, 3657, 3624, 3008, 3100, 1969, 1950, 2334, 2255, 3291, 3413, 3779, 3757, 3730, 3230, 2081, 2024, 3731, 3614, 3005, 3210, 3341, 3839, 3447, 3591, 3779, 3535, 3917, 3654, 3047, 2948, 1876, 1950, 2995, 2633, 3366, 3468, 2981, 3185, 2521, 2408, 2392, 1947, 1611, 1766, 1702, 1660, 1772, 1889, 1517, 2390, 2533, 2399, 2493, 2438, 2067, 1950, 3314, 3706, 2108, 1925, 2010, 2054, 2133, 2053, 2129, 2103, 2804, 2651, 2011, 1948, 2743, 2629, 2763, 2743, 2255, 2289, 3350, 3355, 3095, 3362, 3339, 2901, 3352, 3303, 1950, 1832, 2804, 2679, 3002, 2944, 3100, 2743, 2908, 2682, 2208, 2550, 2579, 2687, 2445, 2627, 2132, 2624, 2753, 2377, 2477, 2318, 3683, 3539, 3439, 2845, 3352, 3340, 2563, 2470, 2766, 3005, 2821, 2985, 3057, 2840, 2983, 3228, 3167, 3003, 3015, 3025, 2440, 1957, 1950, 2011, 2133, 2621, 1929, 2072, 2524, 2649, 2669, 2660, 2936, 2617, 2835, 1420, 1376, 3166, 2834, 2292, 2071, 1904, 1950, 2929, 2866, 2291, 3333, 3226, 3610, 3596, 3353, 3190, 3580, 3413, 3397, 3108, 3223, 3657, 3787, 3495, 3075, 3475, 3333, 3657, 3252, 3283, 2679, 2579, 2560, 2603, 2619, 2464, 2732, 2620, 2718, 2827, 1706, 1542, 1598, 1400, 1572, 1402, 1438, 1581, 1437, 1507, 1455, 1276, 1342, 1280, 1356, 1407, 1280, 1569, 1280, 1405, 1389, 1310, 1280, 1341, 1327, 1319, 1851, 1969, 1730, 1396, 1982, 1828, 1766, 1667, 1889, 1707, 1399, 1504, 1862, 1704, 1798, 1657, 1880, 1646, 1640, 1685, 1819, 1548, 1647, 1889, 1944, 1718, 2865, 1719, 1839, 1585, 1954, 1743, 2397, 1830, 1707, 1826, 1543, 1643, 1712, 1826, 1828, 1665, 2234, 2387, 2460, 1829, 2380, 1826, 1604, 1778, 1707, 1707, 2072, 2060, 1680, 2072, 1976, 1893, 2016, 1629, 1759, 1682, 3007, 1646, 2246, 2397, 1891, 1909, 2014, 2736, 2692, 2316, 1889, 2600, 1835, 2743, 2225, 3230, 2246, 1772, 3203, 2194, 2255, 2134, 2467, 2072, 2261, 1944, 2011, 2194, 1768, 2133, 2259, 1706, 1768, 2072, 1950, 1840, 2133, 1997, 2642, 2647, 2595, 2172, 2643, 2080, 2611, 3068, 1950, 2926, 2127, 3020, 2071, 2016, 2072, 2025, 3069, 1889, 2001, 2804, 2770, 2839, 2357, 2464, 2518, 3323, 2199, 2351, 3139, 2621, 1950, 1889, 1967, 2086, 1950, 1950, 1944, 1829, 1950, 1950, 1995, 2132, 2067, 1950, 1828, 2015, 2255, 3175, 2926, 2430, 1889, 2541, 1889, 2353, 1767, 1656, 1895, 2019, 2420, 2509, 2213, 2128, 2858, 2728, 1956, 1846, 2374, 2621, 2063, 1897, 1678, 1889, 1767, 1701, 1748, 2561, 1584, 1524, 2073, 1679, 1840, 1950, 1582, 1950, 2114, 1706, 1524, 1524, 2012, 1568, 2461, 2621, 2378, 2617, 2560, 2365, 2438, 1636, 2381, 2488, 2693, 2405, 2406, 2499, 2625, 2216, 2460, 2639, 1956, 1580, 1712, 2451, 2521, 2195, 2560, 2339, 1713, 1589, 1707, 1767, 2195, 2257, 2449, 1889, 1522, 1645, 1950, 1584, 1950, 1524, 2309, 1658, 1567, 1474, 1554, 2195, 2191, 1463, 2384, 2756, 1646, 2499, 2254, 2316, 2312, 2501, 1859, 1817, 2272, 1706, 2268, 1555, 1472, 1584, 1476, 2271, 1584, 2307, 1437, 2049, 1863, 1720, 2194, 2576, 1703, 2479, 1641, 1463, 1576, 1828, 1554, 1563, 1828, 2538, 1463, 2377, 1890, 1447, 2050, 2450, 1645, 1767, 1969, 1463, 2140, 1685, 2406, 2349, 1424, 1679, 1422, 2322, 1423, 1762, 1767, 2610, 2424, 1767, 1472, 2316, 1850, 1744, 1556, 1889, 1562, 2416, 1703, 1761, 1828, 1889, 1713, 1479, 1706, 1661, 1726, 2319, 2073, 2316, 2072, 1918, 2147, 2197, 2953, 2271, 2195, 1853, 1645, 2189, 2120, 2197, 2031, 2189, 1496, 2031, 1949, 1546, 2171, 2356, 2302, 1524, 2374, 1767, 1597, 1524, 1513, 2260, 2828, 2377, 2142, 1459, 2256, 1829, 2010, 2316, 2151, 2192, 2156, 2073, 2195, 2010, 1718, 1797, 1524, 1525, 2254, 1930, 2057, 2107, 2129, 1585, 1707, 2014, 1992, 1461, 2456, 2005, 1585, 2314, 1482, 1890, 2110, 1462, 1909, 2499, 1666, 1593, 2415, 1463, 1889, 3048, 1463, 1983, 1524, 1497, 1890, 1951, 1557, 1524, 2381, 1707, 2045, 2926, 1743, 1711, 1889, 2079, 1992, 1903, 1759, 1463, 1950, 1524, 1768, 1894, 2607, 1482, 2059, 2133, 1915, 1950, 1950, 1889, 2003, 2071, 2300, 1513, 2363, 2062, 1768, 1640, 1889, 2012, 1932, 1572, 2061, 1982, 1953, 1950, 1970, 1905, 1950, 2292, 1524, 2398, 1487, 1937, 1829, 2286, 1958, 1889, 1828, 2028, 2100, 1768, 2507, 1456, 1524, 1469, 1585, 1910, 1809, 1837, 1951, 1809, 1872, 1889, 1889, 1822, 2949, 2067, 1463, 1950, 1462, 1497, 2012, 1955, 2088, 1532, 1665, 1775, 1801, 1822, 1454, 1463, 1950, 2850, 1829, 2316, 2017, 1829, 2073, 2321, 2020, 1866, 1822, 1829, 1829, 1829, 1913, 1714, 2772, 2335, 1974, 2352, 2258, 1532, 1846, 1890, 2227, 1883, 1889, 2165, 1583, 1817, 2377, 1578, 2014, 2011, 1608, 1940, 1704, 1905, 1996, 1709, 1955, 1890, 1944, 2068, 1897, 2011, 2446, 2011, 2341, 1889, 2530, 1829, 1631, 1804, 1778, 1761, 2475, 2252, 2139, 2133, 1559, 2012, 2801, 1666, 2778, 1710, 2197, 1910, 2042, 2682, 2195, 1950, 2021, 2416, 2978, 2865, 1646, 2363, 1843, 2299, 1803, 1889, 1702, 2438, 1880, 2133, 2503, 2219, 1690, 2015, 1718, 2300, 1768, 1699, 2365, 1540, 2060, 1829, 2066, 1809, 2436, 1831, 2323, 1874, 1949, 1643, 1958, 1669, 2051, 1991, 2011, 1768, 2092, 1768, 2131, 1706, 2312, 1765, 2679, 2182, 1897, 2125, 2234, 2249, 1894, 1707, 2393, 2377, 1783, 1950, 2267, 1984, 2674, 2343, 2254, 2459, 2021, 2139, 2264, 2572, 2011, 2091, 1889, 2133, 2318, 2428, 2499, 2060, 1895, 1859, 1823, 2026, 1901, 2167, 1972, 2060, 2683, 2604, 1859, 2423, 2263, 1798, 2562, 2335, 2480, 2576, 2347, 2377, 2690, 1882, 2075, 2652, 2185, 2682, 2490, 2377, 2560, 2904, 2658, 2450, 2292, 1925, 2267, 2361, 2658, 2072, 2912, 2377, 2743, 2403, 2824, 2622, 2316, 2598, 2511, 2682, 3107, 2696, 1950, 1738, 3018, 2921, 2256, 2438, 2480, 2084, 2499, 2804, 3052, 2621, 3231, 1703, 2263, 2194, 2621, 2719, 2347, 2987, 2943, 2728, 3023, 2597, 2108, 2967, 2628, 2642, 2377, 2377, 3097, 2987, 2370, 2337, 2989, 2526, 2249, 2193, 2072, 2774, 2804, 2376, 2088, 2114, 2255, 1972, 3381, 3070, 1919, 2847, 1881, 2140, 3293, 3334, 2054, 2947, 2011, 2092, 1959, 3412, 1950, 2011, 3128, 1940, 1953, 2102, 1950, 1950, 2039, 1918, 2010, 2011, 1890, 3116, 3168, 2514, 2025, 2072, 3190, 2085, 2012, 1889, 3300, 2544, 2171, 2499, 2558, 2194, 1909, 2012, 1927, 1900, 2067, 1860, 1948, 1906, 3011, 2086, 1951, 2052, 2011, 2115, 1890, 2463, 2334, 1987, 2208, 2053, 2256, 2190, 2112, 2488, 2232, 1890, 1841, 2377, 2009, 2142, 3002, 2417, 3139, 2551, 1904, 2012, 1951, 2073, 2134, 3098, 2598, 2572, 2125, 2298, 1941, 2320, 2202, 2072, 2085, 2438, 2377, 2073, 2864, 3358, 2316, 2118, 2869, 2888, 2552, 2256, 2483, 2498, 2950, 2022, 2758, 2879, 2010, 2022, 2098, 2273, 2242, 2865, 2878, 2369, 2316, 2722, 2728, 2198, 2874, 2695, 2562, 2560, 2073, 2120, 2163, 2425, 2195, 2123, 2063, 2133, 2055, 2027, 2133, 2133, 1890, 2457, 2438, 2508, 2438, 2127, 2133, 1951, 2060, 2134, 2012, 2008, 2093, 1963, 2664, 2377, 2313, 2256, 1891, 1896, 1893, 1842, 2137, 2338, 1951, 2437, 1875, 2170, 1961, 1917, 2011, 2111, 2072, 2072, 2060, 2071, 2370, 2012, 2015, 2001, 2011, 2030, 1916, 2145, 2316, 2027, 2073, 1948, 2012, 2078, 1971, 2011, 2133, 2012, 1925, 2012, 2135, 1996, 2042, 2045, 2072, 1941, 1942, 1939, 1947, 2073, 2063, 1946, 2097, 2073, 1949, 2011, 2017, 1951, 2195, 2012, 2060, 1949, 1981, 1918, 1962, 1968, 1921, 1917, 1997, 2124, 2065, 2011, 1925, 1948, 1920, 2012, 1965, 1944, 1960, 1942, 1966, 1959, 2060, 2024, 1950, 2072, 1974, 1947, 2195, 1950, 2051, 2073, 2063, 2126, 1967, 1999, 1970, 1922, 2012, 2015, 2007, 2009, 1981, 1981, 1954, 2054, 2056, 1933, 2051, 1908, 1908, 1920, 2036, 1908, 1908, 2012, 1982, 1935, 2125, 1922, 1996, 1937, 1937, 2190, 1944, 2171, 2231, 1938, 2033, 2195, 1987, 2006, 1981, 1951, 1982, 2005, 1957, 2253, 2012, 2134, 1933, 2012, 2082, 1975, 1961, 2233, 1981, 1957, 2189, 1972, 2072, 2012, 2015, 2049, 1947, 2002, 1975, 2073, 2014, 2012, 2089, 2226, 2255, 1990, 1971, 2028, 2042, 2015, 2071, 1982, 2030, 2012, 2062, 2256, 2316, 2068, 2072, 2064, 2178, 2066, 2129, 2042, 2060, 2066, 2105, 2043, 2316, 2134, 2094, 2048, 2042, 2012, 2048, 2072, 2094, 2072, 2073, 2053, 2057, 2045, 2069, 2010, 2119, 1999, 2072, 2114, 2378, 2073, 2095, 2092, 2171, 2073, 2129, 2085, 2063, 2085, 2110, 2377, 2134, 2159, 2317, 2258, 2560, 2192, 2133, 2164, 2134, 2422, 2073, 2134, 2560, 2036, 2060, 2316, 2743, 2325, 2852, 2256, 2192, 2173, 2255, 2377, 2194, 2200, 2134, 2162, 2117, 2060, 2682, 2670, 2135, 2114, 2067, 2106, 2133, 2308, 2139, 2094, 2072, 2068, 2098, 2316, 2078, 2576, 2206, 2099, 2088, 2106, 2560, 2133, 2183, 2107, 2184, 2288, 2107, 2281, 2119, 2194, 2117, 2805, 2120, 2164, 2116, 2167, 2673, 2195, 2134, 2191, 2134, 2804, 2129, 2320, 2130, 2129, 2

In [16]:
df = pd.DataFrame(elevations)
df.to_csv(f'{root_dir}/daily/input/elevation', index=False, header=False)

In [17]:
df

         0
0     1997
1     1891
2     2079
3     1980
4     2011
...    ...
3846  3231
3847  3124
3848  3332
3849  3207
3850  3233

[3851 rows x 1 columns]

## Repeat for segments

In [14]:
gdf = gpd.read_file(root_dir + "GIS/model_nsegment.shp")
gdf

      nhm_seg  model_seg_                                           geometry
0       42706           1  LINESTRING (-840513.813 1962765.750, -840463.4...
1       42707           2  LINESTRING (-893201.427 1985197.890, -893186.9...
2       42708           3  LINESTRING (-855004.607 1970874.926, -855042.8...
3       42709           4  LINESTRING (-865168.318 1972729.691, -865089.6...
4       42710           5  LINESTRING (-881519.930 1968345.969, -881533.8...
...       ...         ...                                                ...
1937    44658        1938  LINESTRING (-1202301.007 1565413.836, -1202326...
1938    44659        1939  LINESTRING (-1206408.194 1562910.585, -1206329...
1939    44660        1940  LINESTRING (-1206307.558 1541303.007, -1206322...
1940    44661        1941  LINESTRING (-1198807.062 1540005.963, -1198864...
1941    44662        1942  LINESTRING (-958501.055 2003155.072, -958658.8...

[1942 rows x 3 columns]

In [15]:
invalid_geometries = gdf[~gdf.is_valid]
print(f"Found {len(invalid_geometries)} invalid geometries.")

Found 0 invalid geometries.

In [16]:
gdf_sorted = gdf.sort_values(by="nhm_seg")
gdf_sorted['nhm_seg'].to_csv(root_dir + 'daily/input/nhm_seg', index=False, header=False)
centroids = gdf_sorted.to_crs(5070).geometry.centroid
centroids_ll = centroids.to_crs(4326)
lats = centroids_ll.y
lons = centroids_ll.x
lats.to_csv(root_dir + 'daily/input/lat_seg.txt', index=False, header=False)
lons.to_csv(root_dir + 'daily/input/lon_seg.txt', index=False, header=False)

In [29]:
from gdptools import WeightGen
from gdptools import AggGen
from gdptools import ClimRCatData

In [30]:
gdf = gpd.read_file(root_dir + "GIS/model_nhru.shp")
gdf

      nhm_id  model_hru_                                           geometry
0      83301         274  POLYGON ((-1324125.133 1609094.887, -1324275.0...
1      83302         275  POLYGON ((-1331914.568 1623225.112, -1331901.0...
2      83359         332  POLYGON ((-1308375.036 1622938.630, -1308465.2...
3      83364         337  POLYGON ((-1337655.210 1640205.133, -1337535.3...
4      83366         339  POLYGON ((-1339634.862 1640985.080, -1339695.0...
...      ...         ...                                                ...
3846   86611        3556  POLYGON ((-1256384.842 2032365.123, -1256295.1...
3847   86615        3560  POLYGON ((-1255034.951 2041934.777, -1255154.7...
3848   86686        3631  POLYGON ((-1244805.129 1970954.938, -1244744.9...
3849   86691        3636  POLYGON ((-1255664.885 1971375.143, -1255544.7...
3850   85616        2561  POLYGON ((-1263404.814 2001224.252, -1263361.8...

[3851 rows x 3 columns]

In [32]:
climater_cat = "https://github.com/mikejohnson51/climateR-catalogs/releases/download/March-2024/catalog.parquet"
cat = pd.read_parquet(climater_cat)
cat.head()

,id,asset,URL,type,varname,variable,description,units,model,ensemble,...,Y1,Yn,resX,resY,ncols,nrows,crs,toptobottom,tiled,dim_order
0,bcca,None,https://cida.usgs.gov/thredds/dodsC/cmip5_bcca...,opendap,BCCA_0-125deg_pr_day_ACCESS1-0_rcp45_r1i1p1,pr,Precipitation,mm/d,ACCESS1-0,r1i1p1,...,25.1875,52.8125,0.125,0.125,462.0,222.0,+proj=longlat +a=6378137 +f=0.0033528106647474...,True,T,TYX
1,bcca,None,https://cida.usgs.gov/thredds/dodsC/cmip5_bcca...,opendap,BCCA_0-125deg_pr_day_ACCESS1-0_rcp85_r1i1p1,pr,Precipitation,mm/d,ACCESS1-0,r1i1p1,...,25.1875,52.8125,0.125,0.125,462.0,222.0,+proj=longlat +a=6378137 +f=0.0033528106647474...,True,T,TYX
2,bcca,None,https://cida.usgs.gov/thredds/dodsC/cmip5_bcca...,opendap,BCCA_0-125deg_pr_day_bcc-csm1-1_rcp26_r1i1p1,pr,Precipitation,mm/d,bcc-csm1-1,r1i1p1,...,25.1875,52.8125,0.125,0.125,462.0,222.0,+proj=longlat +a=6378137 +f=0.0033528106647474...,True,T,TYX
3,bcca,None,https://cida.usgs.gov/thredds/dodsC/cmip5_bcca...,opendap,BCCA_0-125deg_pr_day_bcc-csm1-1_rcp45_r1i1p1,pr,Precipitation,mm/d,bcc-csm1-1,r1i1p1,...,25.1875,52.8125,0.125,0.125,462.0,222.0,+proj=longlat +a=6378137 +f=0.0033528106647474...,True,T,TYX
4,bcca,None,https://cida.usgs.gov/thredds/dodsC/cmip5_bcca...,opendap,BCCA_0-125deg_pr_day_bcc-csm1-1_rcp60_r1i1p1,pr,Precipitation,mm/d,bcc-csm1-1,r1i1p1,...,25.1875,52.8125,0.125,0.125,462.0,222.0,+proj=longlat +a=6378137 +f=0.0033528106647474...,True,T,TYX

In [34]:
_id = "gridmet"
_varname = "tmmx"

# an example query returns a pandas dataframe.
tc = cat.query(
    "id == @_id & variable == @_varname"
)
tc

,id,asset,URL,type,varname,variable,description,units,model,ensemble,...,Y1,Yn,resX,resY,ncols,nrows,crs,toptobottom,tiled,dim_order
13997,gridmet,None,http://thredds.northwestknowledge.net:8080/thr...,opendap,daily_maximum_temperature,tmmx,tmmx,K,None,None,...,49.4,25.066667,0.041667,0.041667,1386.0,585.0,+proj=longlat +a=6378137 +f=0.0033528106647474...,False,,TYX

In [35]:
# Create a dictionary of parameter dataframes for each variable
tvars = ["tmmx"]
cat_params = [cat.query("id == @_id & variable == @_var").to_dict(orient="records")[0] for _var in tvars]

cat_dict = dict(zip(tvars, cat_params))

# Output an example of the cat_param.json entry for "aet".
cat_dict.get("tmmx")

{'id': 'gridmet',
 'asset': None,
 'URL': 'http://thredds.northwestknowledge.net:8080/thredds/dodsC/agg_met_tmmx_1979_CurrentYear_CONUS.nc',
 'type': 'opendap',
 'varname': 'daily_maximum_temperature',
 'variable': 'tmmx',
 'description': 'tmmx',
 'units': 'K',
 'model': None,
 'ensemble': None,
 'scenario': None,
 'T_name': 'day',
 'duration': '1979-01-01/..',
 'interval': '1 days',
 'nT': nan,
 'X_name': 'lon',
 'Y_name': 'lat',
 'X1': -124.76666663333334,
 'Xn': -67.05833330000002,
 'Y1': 49.400000000000006,
 'Yn': 25.066666666666666,
 'resX': 0.041666666666666664,
 'resY': 0.04166666666666668,
 'ncols': 1386.0,
 'nrows': 585.0,
 'crs': '+proj=longlat +a=6378137 +f=0.00335281066474748 +pm=0 +no_defs',
 'toptobottom': False,
 'tiled': '',
 'dim_order': 'TYX'}

In [36]:
user_data = ClimRCatData(
    cat_dict=cat_dict,
    f_feature=gdf,
    id_feature='nhm_id',
    period=["1980-01-01", "1980-12-31"]
)

wght_gen = WeightGen(
    user_data=user_data,
    method="serial",
    output_file=root_dir + "GIS/uc_weights.csv",
    weight_gen_crs=6931
)

wghts = wght_gen.calculate_weights(intersections=False)

Using serial engine
grid cells generated in 2.9025 seconds
Data preparation finished in 3.4918 seconds
Reprojecting to epsg:EPSG:6931 finished in 0.14 second(s)
Validating polygons
     - validating source polygons
     - fixing 0 invalid polygons.
     - validating target polygons
     - fixing 177 invalid polygons.
Validate polygons finished in 0.1638 seconds
Intersections finished in 2.7835 seconds
Weight gen finished in 2.9506 seconds